data/lfs_data/chemprot.tar.gz filter=lfs diff=lfs merge=lfs -text
data/lfs_data/evidence_inference_linearized.zip filter=lfs diff=lfs merge=lfs -text
data/lfs_data/genia.tar.gz filter=lfs diff=lfs merge=lfs -text
